---
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro';
import Button from '../components/Button';
---

<Layout title='Welcome to Astro.'>
  <main>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Sapiente
      consequatur rerum tempore repellat? Veniam voluptatum odio amet, maxime ad
      voluptates non in, quisquam natus, reiciendis quae assumenda libero qui
      neque.
    </p>
  </main>
</Layout>

<style>
</style>
